*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Circular Std Medium";
  src: url(../Fonts/circular-std-medium-500.ttf);
}

body{
  background: #FCF4C6 !important;
}

nav{
  background-color:#ffff !important;
  .nav-link{
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: "Circular Std Medium";
  }
}

.about{
  overflow: hidden;
  padding: 90px 0px;
  h2{
    font-family: "Circular Std Medium";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    color: #000;
    padding-bottom: 20px;
  }
  p{
    font-family: "Circular Std Medium";
    line-height: 34px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #000;
  }
  .vector{
    width: 300px;

  }
}

.products{
  padding-bottom: 80px;
  h2{
    font-family: "Circular Std Medium";
    line-height: 69px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    color: #000;
  }
  .product{
    width: 500px;
    height: 500px;
    object-fit: contain;
    @media (max-width:991px) {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  }
  .vector{
    width: 300px;

  }
  h4{
    font-family: "Circular Std Medium";
    line-height: 69px;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    color: #000;
  }
  .box{
    padding: 20px 0px;
    // box-shadow: rgba(90, 90, 95, 0.2) 0px 7px 29px 0px;
  }
}

.brand{
  h2{
    font-size: 42px;
    font-weight: 400;
    line-height: 69px;
    color: #000;
    font-family: "Circular Std Medium";
  }
  .vector{
    width: 300px;
  }
  h3{
    font-family: "Circular Std Medium";
    font-size: 32px;
    font-weight: 400;
    line-height: 23px;
    background-color: #342205;
   display: inline-block;
    padding: 18px;
    color: #fff;
  }
  h6{
    font-size: 16px;
    line-height: 34px;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-family: "Circular Std Medium";
  }
  p{
    margin: 0px;
    padding: 20px 0px;
     font-size: 16px;
     line-height: 34px;
     font-style: normal;
     font-weight: 400;
     color: #000;
     font-family: "Circular Std Medium"; 
  }
}

.ambassdor{
  padding: 80px 0px;
  .vector{
    width: 300px;
    
  }
  h1{
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    color: #000;
    font-family: "Circular Std Medium"; 
  }
  .box{
    background-color: #B17840;
    padding: 20px;
  }
  img{
    width: 100%;
  }
  h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    line-height: 69px;
    color: #fff;
    font-family: "Circular Std Medium"; 
  }
  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #fff;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
  }
}

.bg{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),url(../Images/back-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button{
    background: #C2531B;
    padding: 5px 20px;
    border: none;
    a{
      color: #fff;
      font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
    text-decoration: none;
    }
  }
  p{
    font-size: 19px;
    font-weight: 400;
    line-height: 34px;
    color: #fff;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
    padding-bottom: 0px;
  }
}

.reviews{
  padding: 80px 0px;
  h2{
    font-size: 42px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
    padding-bottom: 30px;
  }
  .box{
    background-color: #F6F0E0;
    padding: 20px;
    height: 100%;
    p{
      font-size: 19px;
      font-weight: 400;
      line-height: 34px;
      color: #000;
      font-family: "Circular Std Medium"; 
      font-style: normal;
      margin: 0px;
      padding-bottom: 20px;
    }
    h5{
      font-size: 28px;
      font-weight: 600;
      line-height: 34px;
      color: #000;
      font-family: "Circular Std Medium"; 
      font-style: normal;
      margin: 0px;
    }
  }
}

.why-us{
padding-bottom: 80px;
  h1{
    font-size: 42px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
    padding-bottom: 30px;
  }
  h5{
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    color: #000;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
  }
  p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
  }
}

.gallery{
  padding: 50px 0px;
  p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
  }
  h2{
    font-size: 42px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
    padding-bottom: 30px;
  }
  img{
    mix-blend-mode: multiply;
  }
}

.foot{
  padding: 50px 0px;
  background-color: #342205;
  box-shadow: 0px 1px 25px rgba(25, 119, 204, 0.1);
  .img-box{
    background-color: #fff;
    border-radius: 50px;
    width: fit-content;
    padding: 10px;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    color: #fff !important;
    font-family: "Circular Std Medium"; 
    font-style: normal;
    margin: 0px;
    padding-bottom: 10px;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "Circular Std Medium"; 
    font-style: normal;
  }
  hr{
    color: #fff;
  }
}